html{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100%;
    margin: auto;
}
header{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),url(./393296295347896-1989503335.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
.logo img{
    width: auto;
    height: 100px;
    float: left;
 /*   height: auto;*/
}
@media (min-width: 1200px) {
    .welcome-text{
        height: 300px;
        margin: 0 auto;
    }
}
.welcome-text{
    position: absolute;
    width: 100%;
    margin-top: 200px;
    text-align: center;
}
.welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}
.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}
.welcome-text a:hover{
    background: #fff;
    color: #333;
}